{
    "adapters": [
        {
            "name":"Vungle",
            "settings":{
                "app.id":"com.mobage.ww.a1933.Super_Battle_Tactics_Android_pub",
                "comment":"optional configurations starting below",
                "sound.enabled": true,
                "auto.rotation.enabled": false,
                "back.button.enabled": true,
                "incentivized.mode": false,
                "cancel.dialog.title": "** customized cancel dialog title **",
                "cancel.dialog.text": "** customized cancel dialog text**",
                "cancel.dialog.button": "** customized cancel button**",
                "keep.watching.text": "** keep watching text **"
            }
        },
        {
            "name": "AppLovin",
            "settings": {
                "comment": "No info need to be provided for AppLovin in this file. Please put the SDK key into the Android Manifest."
            }
        },
        {
            "name":"AdColony",
            "settings":{
                "app.id":"app8637572ace3e4046b1",
                "client.options":"version:1.1,store:google",
                "zone.ids.rewarded.video": [
                    "vz7287be6beebb4519b7"
                ]
            }
        },
        {
            "name":"Applifier",
            "settings":{
                "game.id.key": "14905",
                "zone.id.rewarded.video": "defaultVideoAndPictureZone",
                "comment": "Optional settings below",
                "noOfferScreen": BOOLEAN,
                "openAnimated": BOOLEAN,
                "sid": "**GAMERSID**",
                "muteVideoSounds": BOOLEAN,
                "useDeviceOrientationForVideo": BOOLEAN
            }
        },
        {
            "name": "HyprMX",
            "settings": {
                "distributorId": "8800093",
                "propertyId": "DeNA Super Battle Tactics Android"
            }
        }
    ]
}